.leftside {
    display: inline-block;
    width: $leftside_width;
    height: calc(100% - #{$footer_height});
    padding-top: $grid-top-padding;
    padding-left: 10px;
    vertical-align: top;
    overflow: hidden;

    .app_logo{
        height: 150px;

        &.desktop{
            display: block;
        }

        &.mobile{
            display: none;
        }
    }

    .user_profile_image img{
        width: 130px;
        height: 130px;
        border-radius: 70px;
    }

    .inside_table{
        display : table;
        width: 100%;
        height:100%;
        border-collapse:collapse;
    }

    .foot {
        display : table-row;
        vertical-align : bottom;
        height : 1px;
    }

    .nav_item {
        color: $color1;
        font-size: 32px;
        cursor: pointer;

        &:hover {
            color: $color2;
        }

        &.bookmark{
            &:hover {
                color: $color3;
            }
        }

        &.category{
            &:hover {
                color: $color5;
            }
        }

        &.group{
            &:hover {
                color: $color4;
            }
        }

        i {
            display: inline-block;
            width: 30px;
        }
    }


    .icon_word {
        position: relative;
        top: -6px;
        display: inline-block;
        min-width: 120px;
        padding-left: 10px;
        font-size: 19px;
    }

    @media screen and (max-width:600px){
        width: $leftside_width_mobile;

        .app_logo{
            height: 30px;

            &.desktop{
                display: none;
            }

            &.mobile{
                display: block;
            }
        }

        .icon_word{
            display: none;
        }

        .user_profile_image img{
            width: 40px;
            height: 40px;
        }
    }
}


