.leftside {
    display: inline-block;
    width: $leftside_width;
    height: 100%;
    padding-top: $grid-top-padding;
    padding-left: 10px;
    vertical-align: top;
    overflow: hidden;


    .inside_table{
        display : table;
        width: 100%;
        height:100%;
        border-collapse:collapse;
    }

    .foot {
        display : table-row;
        vertical-align : bottom;
        height : 1px;
    }

    .nav_item {
        color: #3c4a50;
        font-size: 32px;
        cursor: pointer;

        &.icon_red{
            &:hover{
                color: red;
            }
        }

        &.icon_green{
            &:hover{color: green;}
        }

        &.icon_blue{
            &:hover{color: dodgerblue;}
        }

        &.icon_pink{
            &:hover{color: hotpink;}
        }

        &.icon_purple{
            &:hover{color: rebeccapurple;}
        }

        &.icon_orange{
            &:hover{color: darkorange;}
        }

        &.icon_yellow{
            &:hover{color: darkgoldenrod}
        }

        i {
            display: inline-block;
            width: 30px;
        }
    }

    .icon_word {
        display: none;
        position: relative;
        top: -6px;
        padding-left: 10px;
        font-size: 19px;
    }
}
