/* Coolors Exported Palette - coolors.co/3c4a50-399e5a-041b15-22aaa1-4ce0d2 */

/* HSL */
$color1: hsla(198%, 14%, 27%, 1);
$color2: hsla(140%, 47%, 42%, 1);
$color3: hsla(164%, 74%, 6%, 1);
$color4: hsla(176%, 67%, 40%, 1);
$color5: hsla(174%, 70%, 59%, 1);

/* RGB */
$color1: rgba(60, 74, 80, 1);
$color2: rgb(57, 158, 90);
$color3: rgba(4, 27, 21, 1);
$color4: rgba(34, 170, 161, 1);
$color5: rgba(76, 224, 210, 1);