/* Coolors Exported Palette - coolors.co/3c4a50-399e5a-041b15-22aaa1-4ce0d2 */
/* RGB */
$color1: rgba(60, 74, 80, 1);
$color2: rgba(4, 27, 21, 1);
$color3: rgb(57, 158, 90);
$color4: rgba(34, 170, 161, 1);
$color5: rgba(255, 105, 120, 1);
$color6: rgba(126,161,107,1);
