@import "_variables";
@import "_palette";

@import "_fonts";
@import "_leftside";

@import "_grid";
@import "_rightside";
@import "_footer";

html,body {
    height: 100%;
    padding: 0;
    margin: 0;
}