<div class="leftside" id="leftside_panel">
    <div class="inside_table">
        <div class="app_logo desktop"><img src="img/logo_med.png" alt="bookmarker logo"></div>
        <div class="app_logo mobile"><img src="img/logo_small.png" alt="bookmarker logo"></div>
        {# -- Top Icons -- #}
        <a href="/?grid_type=bookmarks" class="nav_item bookmark"><i class="fas fa-book-open"></i> <span class="icon_word icon_word-js">Bookmarks</span></a>
        <a href="/?grid_type=categories" class="nav_item category"><i class="fas fa-folder-open"></i> <span class="icon_word icon_word-js">Categories</span></a>
        <a href="/?grid_type=groups" class="nav_item group"><i class="fas fa-tags"></i> <span class="icon_word icon_word-js">Groups</span></a>
        <div class="nav_item icon_pink"><i class="fas fa-chart-line"></i> <span class="icon_word icon_word-js">Stats</span></div>
        <div class="nav_item icon_orange"><i class="fas fa-search"></i> <span class="icon_word icon_word-js">Search</span></div>

        {# -- Bottom Icons -- #}
        {% if loggedin %}
            <div id="user_profile_image" class="user_profile_image foot"><img src="img/users/{{ username }}.jpg" alt=""></div>
            <div class="nav_item foot icon_purple"><i class="fas fa-sliders-h"></i> <span class="icon_word icon_word-js">Settings</span></div>
            <a href="/?page=logout" class="nav_item foot icon_yellow"><i class="fas fa-sign-out-alt"></i> <span class="icon_word icon_word-js">Logout</span></a>
        {% else %}
            <a href="/?page=login" class="nav_item foot icon_purple"><i class="fas fa-sign-in-alt"></i> <span class="icon_word icon_word-js">Login</span></a>
        {% endif %}
    </div>
</div>