<div class="bstats rhs_inside">
    <i class="fas fa-times-circle close_x"></i>
    <img src="/" alt="book" class="bookmark_image" id="bstats_image">

    <h3 id="bstats_title">Bookmark Title</h3>

    <h4>Total visits:</h4>
    <p class="visits" id="bstats_total_visits">(Big Number Here)</p>

    <h4>Last visited:</h4>
    <p id="bstats_lastvisit" class="date">month, day, year at hh:mm:ss</p>


    <h4>Visit Compare Chart</h4>
    <p>Looks like old lemonade glue where you show the bookmark in the middle and have a range.</p>
    <div class="chart" id="bstats_compare_chart">
        <div class="center">
            <img src="http://bookmarker.com/img/thumbnails/vdategames_blog.jpg" alt="">
        </div>
        <div class="scale">
            <div class="line"></div>
            <div class="left_ticks tick_side">
                <div class="tick">0</div>
                <div class="tick">1000</div>
                <div class="tick">2000</div>
                <div class="tick">3000</div>
                <div class="tick">4000</div>
            </div>
            <div class="right_ticks tick_side">
                <div class="tick">6000</div>
                <div class="tick">7000</div>
                <div class="tick">8000</div>
                <div class="tick">9000</div>
                <div class="tick">10000</div>
            </div>
        </div>

        <div class="markers">
            <img src="http://bookmarker.com/img/thumbnails/vdategames_blog.jpg" alt="">
        </div>
    </div>
</div>