<div class="bstats rhs_inside">
    <i class="fas fa-times-circle close_x"></i>
    <img src="/" alt="book" class="bookmark_image">

    <h3>Bookmark Title</h3>

    <h4>Total visits:</h4>
    <p class="total_visits">(Big Number Here)</p>

    <h4>Last visited:</h4>
    <p>month, day, year at hh:mm:ss</p>


    <h4>Visit Compare Chart</h4>
    <p>Looks like old lemonade glue where you show the bookmark in the middle and have a range.</p>
</div>