<div class="rhs_wrapper bstats">
    <img src="/" alt="book" class="bookmark_image">

    <h3>Global Stats</h3>

    <h4>Total visits:</h4>
    <p class="total_visits">(Big Number Here)</p>

    <h4>Last visited:</h4>
    <p>Bookmark name</p>
    <p>month, day, year at hh:mm:ss</p>

    <h4>Bookmark By User</h4>
    <div class="user_stats_profile_image">(# of B)</div>


    <h4>Visit Compare Chart</h4>
    <p>(Similar to Old Lem Glue)</p>
</div>