<div class="rhs_wrapper bstats">
    <img src="/" alt="book" class="bookmark_image">

    <h3>Bookmark Title</h3>

    <h4>Last visited:</h4>
    <p>month, day, year at hh:mm:ss</p>

    <h4>Total visits:</h4>
    <p class="total_visits">(Big Number Here)</p>

</div>