<nav>
    <div class="logo"></div>

    <a href="">Dashboard</a>
    <a href="">Stats</a>
    <a href="">Profile</a>
    <a href="">Login</a>

    <div class="user">
        <div class="alerts"></div>
        <div class="profile_image"></div>
    </div>
    <div class="clear"></div>
</nav>