/* Coolors Exported Palette - coolors.co/3c4a50-399e5a-041b15-22aaa1-4ce0d2 */
/* RGB */
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'feathericons';
  src: url("../font/feathericons/feathericons.eot?-8is7zf");
  src: url("../font/feathericons/feathericons.eot?#iefix-8is7zf") format("embedded-opentype"), url("../font/feathericons/feathericons.woff?-8is7zf") format("woff"), url("../font/feathericons/feathericons.ttf?-8is7zf") format("truetype"), url("../font/feathericons/feathericons.svg?-8is7zf#feathericons") format("svg"); }
.leftside {
  display: inline-block;
  width: 177px;
  height: calc(100% - 50px);
  padding-top: 10px;
  padding-left: 10px;
  vertical-align: top;
  overflow: hidden; }
  .leftside .app_logo {
    height: 150px; }
    .leftside .app_logo.desktop {
      display: block; }
    .leftside .app_logo.mobile {
      display: none; }
  .leftside .user_profile_image img {
    width: 130px;
    height: 130px;
    border-radius: 70px; }
  .leftside .inside_table {
    display: table;
    width: 100%;
    height: 100%;
    border-collapse: collapse; }
  .leftside .foot {
    display: table-row;
    vertical-align: bottom;
    height: 1px; }
  .leftside .nav_item {
    color: #3c4a50;
    font-size: 32px;
    cursor: pointer; }
    .leftside .nav_item:hover {
      color: #041b15; }
    .leftside .nav_item.bookmark:hover {
      color: #399e5a; }
    .leftside .nav_item.category:hover {
      color: #ff6978; }
    .leftside .nav_item.group:hover {
      color: #22aaa1; }
    .leftside .nav_item i {
      display: inline-block;
      width: 30px; }
  .leftside .icon_word {
    position: relative;
    top: -6px;
    display: inline-block;
    min-width: 120px;
    padding-left: 10px;
    font-size: 19px; }
  @media screen and (max-width: 600px) {
    .leftside {
      width: 55px; }
      .leftside .app_logo {
        height: 30px; }
        .leftside .app_logo.desktop {
          display: none; }
        .leftside .app_logo.mobile {
          display: block; }
      .leftside .icon_word {
        display: none; }
      .leftside .user_profile_image img {
        width: 40px;
        height: 40px; } }

.new_item_button {
  position: absolute;
  top: calc(100% - 120px - 50px);
  right: 10px;
  width: 120px;
  height: 120px;
  border: 0;
  background: #3c4a50;
  color: white;
  font-size: 90px;
  line-height: 90px;
  border-radius: 70px;
  cursor: pointer;
  transition: all 0.3s ease-out; }
  .new_item_button:hover {
    background: #041b15; }
  .new_item_button.bookmarks:hover {
    background: #399e5a;
    font-size: 110px;
    line-height: 110px; }
  .new_item_button.categories:hover {
    background: #ff6978; }
  .new_item_button.groups:hover {
    background: #22aaa1; }

.grid {
  position: relative;
  display: inline-block;
  width: calc(100% - 177px);
  height: calc(100% - 50px);
  padding-top: 10px;
  padding-bottom: 100px;
  text-align: left;
  vertical-align: top;
  overflow: scroll;
  overflow-x: hidden;
  background: url("../img/logo_large_monochrome_fade.png") center center no-repeat; }
  .grid::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */ }
  @media screen and (max-width: 720px) {
    .grid {
      background-size: contain; } }
  @media screen and (max-width: 600px) {
    .grid {
      width: calc(100% - 55px); } }
  .grid .favorites_bar {
    position: sticky;
    top: -10px;
    left: 0;
    padding: 10px 0;
    width: 100%;
    z-index: 100;
    background: #fff;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3); }
    @media screen and (max-width: 767px) {
      .grid .favorites_bar {
        display: none; } }
    .grid .favorites_bar .favorite_link {
      position: relative;
      display: inline-block;
      width: 9.1%;
      margin: 0 0.5%;
      vertical-align: middle; }
    .grid .favorites_bar .remove-icon {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 25px;
      height: 25px;
      padding: 4px;
      background: #ffffff;
      color: black;
      font-size: 14px;
      text-align: center;
      border-radius: 50%;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
      z-index: 20; }
    .grid .favorites_bar .favorite_item:first-child {
      margin-left: 0; }
    .grid .favorites_bar .favorite_item:last-child {
      margin-right: 0; }
    .grid .favorites_bar img {
      width: 100%; }
    .grid .favorites_bar div.free_slot {
      position: relative;
      display: inline-block;
      width: 9.0%;
      margin: 0 0.5%;
      height: 100%;
      border: solid 2px #3c4a50;
      box-sizing: border-box;
      vertical-align: middle; }
      .grid .favorites_bar div.free_slot i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 3vw;
        color: #3c4a50; }

.grid_item {
  display: inline-block;
  position: relative;
  max-width: calc(25% - 8px);
  padding: 0;
  margin: 0px 2px;
  list-style: none;
  text-align: center;
  clear: both;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7); }
  @media screen and (max-width: 767px) {
    .grid_item a.fav {
      display: none; } }
  .grid_item figure.effect-zoe:hover p.icon-links a.fav:hover {
    color: #041b15; }
  .grid_item figure.effect-zoe:hover p.icon-links a.edit:hover {
    color: #22aaa1; }
  .grid_item figure.effect-zoe:hover p.icon-links a.stats:hover {
    color: #ff6978; }

/* Common style */
.grid_item figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0;
  min-width: 320px;
  max-width: 480px;
  max-height: 360px;
  background: #3085a3;
  text-align: center;
  cursor: pointer; }

.grid_item figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8; }

.grid_item figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.grid_item figure figcaption::before,
.grid_item figure figcaption::after {
  pointer-events: none; }

.grid_item figure figcaption,
.grid_item figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid_item figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0; }

.grid_item figure h2 {
  word-spacing: -0.15em;
  font-weight: 300; }

.grid_item figure h2 span {
  font-weight: 800; }

.grid_item figure h2,
.grid_item figure p {
  margin: 0; }

.grid_item figure p {
  letter-spacing: 1px;
  font-size: 68.5%; }

/* Individual effects */
/*---------------*/
/***** Zoe *****/
/*---------------*/
figure.effect-zoe figcaption {
  top: auto;
  bottom: 0;
  padding: 1em;
  height: 3.75em;
  background: #fff;
  color: #3c4a50;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); }

figure.effect-zoe h2 {
  float: left; }

figure.effect-zoe p.icon-links a {
  float: right;
  color: #3c4a50;
  font-size: 1.4em; }

figure.effect-zoe:hover p.icon-links a:hover,
figure.effect-zoe:hover p.icon-links a:focus {
  color: #252d31; }

figure.effect-zoe p.description {
  position: absolute;
  bottom: 8em;
  padding: 2em;
  color: #fff;
  text-transform: none;
  font-size: 90%;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  -webkit-backface-visibility: hidden;
  /* Fix for Chrome 37.0.2062.120 (Mac) */ }

figure.effect-zoe h2,
figure.effect-zoe p.icon-links a {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0); }

figure.effect-zoe p.icon-links a i::before {
  display: inline-block;
  padding: 8px 10px;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

figure.effect-zoe h2 {
  display: inline-block; }

figure.effect-zoe:hover p.description {
  opacity: 1; }

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover p.icon-links a {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

figure.effect-zoe:hover h2 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s; }

figure.effect-zoe:hover p.icon-links a:nth-child(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

figure.effect-zoe:hover p.icon-links a:nth-child(2) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s; }

figure.effect-zoe:hover p.icon-links a:first-child {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }

.rhs_wrapper {
  display: none;
  width: 0;
  overflow: hidden; }
  .rhs_wrapper .rhs_inside {
    position: relative;
    display: none;
    padding: 20px;
    text-align: center;
    min-width: 400px; }
    .rhs_wrapper .rhs_inside .close_x {
      position: absolute;
      top: 20px;
      right: 5px;
      font-size: 25px; }
    .rhs_wrapper .rhs_inside h3 {
      padding: 16px 0;
      font-size: 40px; }
    .rhs_wrapper .rhs_inside.bstats img {
      border-radius: 20px; }
    .rhs_wrapper .rhs_inside.bstats .visits {
      font-size: 100px; }
    .rhs_wrapper .rhs_inside.bstats .date {
      font-size: 30px; }
    .rhs_wrapper .rhs_inside.bstats .chart {
      width: 90%;
      margin: 0 auto;
      position: relative; }
      .rhs_wrapper .rhs_inside.bstats .chart .markers {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10; }
        .rhs_wrapper .rhs_inside.bstats .chart .markers img {
          position: relative;
          top: 0;
          left: 0;
          width: 45px;
          margin-left: -20px;
          border-radius: 6px; }
      .rhs_wrapper .rhs_inside.bstats .chart .scale {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20; }
      .rhs_wrapper .rhs_inside.bstats .chart .line {
        width: 100%;
        position: absolute;
        top: 50%;
        margin-top: -2px;
        height: 2px;
        background: #000; }
      .rhs_wrapper .rhs_inside.bstats .chart .tick_side {
        position: absolute;
        width: calc(50% - 70px);
        height: 100%; }
      .rhs_wrapper .rhs_inside.bstats .chart .left_ticks {
        left: 0; }
      .rhs_wrapper .rhs_inside.bstats .chart .right_ticks {
        right: -7%; }
      .rhs_wrapper .rhs_inside.bstats .chart .tick {
        position: absolute;
        font-size: 12px;
        top: 50%;
        color: #555; }
        .rhs_wrapper .rhs_inside.bstats .chart .tick:after {
          position: relative;
          content: ' ';
          display: block;
          width: 1px;
          height: 25px;
          background: #555; }
        .rhs_wrapper .rhs_inside.bstats .chart .tick:nth-of-type(even) {
          top: 77%; }
          .rhs_wrapper .rhs_inside.bstats .chart .tick:nth-of-type(even):after {
            top: -46px; }
        .rhs_wrapper .rhs_inside.bstats .chart .tick:nth-of-type(odd) {
          top: 0%; }
          .rhs_wrapper .rhs_inside.bstats .chart .tick:nth-of-type(odd):after {
            top: 4px; }
        .rhs_wrapper .rhs_inside.bstats .chart .tick:nth-of-type(1) {
          left: 0%; }
        .rhs_wrapper .rhs_inside.bstats .chart .tick:nth-of-type(2) {
          left: 20%; }
        .rhs_wrapper .rhs_inside.bstats .chart .tick:nth-of-type(3) {
          left: 40%; }
        .rhs_wrapper .rhs_inside.bstats .chart .tick:nth-of-type(4) {
          left: 60%; }
        .rhs_wrapper .rhs_inside.bstats .chart .tick:nth-of-type(5) {
          left: 80%; }
      .rhs_wrapper .rhs_inside.bstats .chart .center {
        position: relative;
        width: 120px;
        margin: 0 auto;
        z-index: 30; }
        .rhs_wrapper .rhs_inside.bstats .chart .center img {
          width: 120px; }
    .rhs_wrapper .rhs_inside.gstats .total_visits {
      font-size: 100px; }
    .rhs_wrapper .rhs_inside.gstats .last_bookmark_name {
      font-size: 50px; }
    .rhs_wrapper .rhs_inside.gstats .last_bookmark_date {
      font-size: 30px; }
    .rhs_wrapper .rhs_inside.gstats .user_stats_profile_image {
      width: 130px;
      height: 130px;
      margin: 0 auto;
      border-radius: 70px; }
      .rhs_wrapper .rhs_inside.gstats .user_stats_profile_image span {
        color: white;
        font-size: 55px;
        font-weight: 500;
        text-shadow: 1px 1px 1px black;
        line-height: 132px;
        opacity: 0.6; }
      .rhs_wrapper .rhs_inside.gstats .user_stats_profile_image:hover span, .rhs_wrapper .rhs_inside.gstats .user_stats_profile_image:focus span {
        opacity: 1; }
    .rhs_wrapper .rhs_inside.gstats .top_ten_bookmarks {
      display: inline-block;
      text-align: center; }
      .rhs_wrapper .rhs_inside.gstats .top_ten_bookmarks li {
        text-align: left; }

#new_bookmark_image {
  width: 304px;
  padding: 0;
  margin: 0 auto;
  border-radius: 20px; }
  #new_bookmark_image.dropzone .dz-preview {
    margin: 0;
    border-radius: 20px; }
    #new_bookmark_image.dropzone .dz-preview .dz-image {
      width: 300px;
      height: 225px;
      border-radius: 20px; }

.griditem_select_list {
  height: 200px;
  padding: 8px 16px;
  overflow: scroll;
  overflow-x: hidden; }
  .griditem_select_list::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */ }

.griditem_select_item {
  position: relative;
  font-size: 18px;
  margin: 3px 0;
  cursor: pointer; }
  .griditem_select_item.selected {
    border: solid 3px #041b15;
    border-radius: 10px; }
    .griditem_select_item.selected .selected_checkmark {
      display: block; }
  .griditem_select_item:hover {
    border: solid 3px #22aaa1; }
  .griditem_select_item .selected_checkmark {
    position: absolute;
    top: -10px;
    left: -18px;
    display: none;
    width: 40px;
    height: 40px;
    background: #22aaa1;
    color: white;
    font-size: 28px;
    text-align: center;
    line-height: 40px;
    border-radius: 40px; }
  .griditem_select_item img {
    width: 100px;
    border-radius: 6px; }

footer {
  margin: 16px auto;
  text-align: center; }

html, body {
  height: 100%;
  padding: 0;
  margin: 0; }

.clear {
  clear: both; }

/*# sourceMappingURL=master.css.map */
