<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="master.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="fake_wrapper">
        <div class="wrapper">
            {% block body %}{% endblock %}
        </div>
        </div>
        <script src="master.min.js"></script>
    </body>
</html>
