<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bookmarker - The Ultimate Bookmarkin App{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/app.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <h1>Bookmarker</h1>
            <h2>The Ultimate Bookmarking App!</h2>
        {% endblock %}

        {% block footer %}
            <h5>Copyright 2017 - Josh Byvelds</h5>
            <p>
                Created with Symfony 4, Webpack, Material Design Bootstrap & lots of <3
            </p>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('assets/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
