<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="vendor/MDBootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/MDBootstrap/css/mdb.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/solid.css" integrity="sha384-Rw5qeepMFvJVEZdSo1nDQD5B6wX0m7c5Z/pLNvjkB14W6Yki1hKbSEQaX9ffUbWe" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/regular.css" integrity="sha384-EWu6DiBz01XlR6XGsVuabDMbDN6RT8cwNoY+3tIH+6pUCfaNldJYJQfQlbEIWLyA" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/fontawesome.css" integrity="sha384-GVa9GOgVQgOk+TNYXu7S/InPTfSDTtBalSgkgqQ7sCik56N9ztlkoTr2f/T44oKV" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/master.css">
</head>
<body>
<style>
    .card.card-cascade.wider .card-body {
        margin-left: 4%;
        margin-right: 4%;
        background: #fff;
        z-index: 1;
        border-radius: 0 0 .3rem .3rem;
    }
</style>

<div class="leftside" id="leftside_panel">
    <div class="inside_table">
        <div class="app_logo"></div>
        {# -- Top Icons -- #}
        <div class="nav_item icon_green"><i class="fas fa-book-open"></i> <span class="icon_word icon_word-js">Bookmarks</span></div>
        <div class="nav_item icon_red"><i class="fas fa-tags"></i> <span class="icon_word icon_word-js">Groups</span></div>
        <div class="nav_item icon_blue"><i class="fas fa-folder-open"></i> <span class="icon_word icon_word-js">Categories</span></div>
        <div class="nav_item icon_pink"><i class="fas fa-chart-line"></i> <span class="icon_word icon_word-js">Stats</span></div>
        <div class="nav_item icon_orange"><i class="fas fa-search"></i> <span class="icon_word icon_word-js">Search</span></div>

        {# -- Bottom Icons -- #}
        <div class="nav_item foot icon_purple"><i class="fas fa-sliders-h"></i> <span class="icon_word icon_word-js">Settings</span></div>
        <div class="nav_item foot icon_yellow"><i class="fas fa-sign-out-alt"></i> <span class="icon_word icon_word-js">Logout</span></div>
    </div>
</div><!--


--><div class="grid" id="the_grid">
    <div class="grid_item">
        <figure class="effect-zoe">
            <img src="img/25.jpg" alt="img25">
            <figcaption>
                <h2>Creative <span>Zoe</span></h2>
                <p class="icon-links">
                    <a href="#"><span class="icon-heart"></span></a>
                    <a href="#"><span class="icon-eye"></span></a>
                    <a href="#"><span class="icon-paper-clip"></span></a>
                </p>
            </figcaption>
        </figure>
    </div>

    <div class="grid_item">
        <figure class="effect-zoe">
            <img src="img/7.jpg" alt="img7">
            <figcaption>
                <h2>Creative <span>Zoe</span></h2>
                <p class="icon-links">
                    <a href="#"><span class="icon-heart"></span></a>
                    <a href="#"><span class="icon-eye"></span></a>
                    <a href="#"><span class="icon-paper-clip"></span></a>
                </p>
            </figcaption>
        </figure>
    </div>



    <div class="grid_item">
        <figure class="effect-zoe">
            <img src="img/18.jpg" alt="img18">
            <figcaption>
                <h2>Creative <span>Zoe</span></h2>
                <p class="icon-links">
                    <a href="#"><span class="icon-heart"></span></a>
                    <a href="#"><span class="icon-eye"></span></a>
                    <a href="#"><span class="icon-paper-clip"></span></a>
                </p>
            </figcaption>
        </figure>
    </div>

    <div class="grid_item">
        <figure class="effect-zoe">
            <img src="img/25.jpg" alt="img25">
            <figcaption>
                <h2>Creative <span>Zoe</span></h2>
                <p class="icon-links">
                    <a href="#"><span class="icon-heart"></span></a>
                    <a href="#"><span class="icon-eye"></span></a>
                    <a href="#"><span class="icon-paper-clip"></span></a>
                </p>
            </figcaption>
        </figure>
    </div>

    <div class="grid_item">
        <figure class="effect-zoe">
            <img src="img/7.jpg" alt="img7">
            <figcaption>
                <h2>Creative <span>Zoe</span></h2>
                <p class="icon-links">
                    <a href="#"><span class="icon-heart"></span></a>
                    <a href="#"><span class="icon-eye"></span></a>
                    <a href="#"><span class="icon-paper-clip"></span></a>
                </p>
            </figcaption>
        </figure>
    </div>

    <div class="grid_item">
        <figure class="effect-zoe">
            <img src="img/18.jpg" alt="img18">
            <figcaption>
                <h2>Creative <span>Zoe</span></h2>
                <p class="icon-links">
                    <a href="#"><span class="icon-heart"></span></a>
                    <a href="#"><span class="icon-eye"></span></a>
                    <a href="#"><span class="icon-paper-clip"></span></a>
                </p>
            </figcaption>
        </figure>
    </div>

    <div class="grid_item">
        <figure class="effect-zoe">
            <img src="img/7.jpg" alt="img7">
            <figcaption>
                <h2>Creative <span>Zoe</span></h2>
                <p class="icon-links">
                    <a href="#"><span class="icon-heart"></span></a>
                    <a href="#"><span class="icon-eye"></span></a>
                    <a href="#"><span class="icon-paper-clip"></span></a>
                </p>
            </figcaption>
        </figure>
    </div>

    <div class="grid_item">
        <figure class="effect-zoe">
            <img src="img/18.jpg" alt="img18">
            <figcaption>
                <h2>Creative <span>Zoe</span></h2>
                <p class="icon-links">
                    <a href="#"><span class="icon-heart"></span></a>
                    <a href="#"><span class="icon-eye"></span></a>
                    <a href="#"><span class="icon-paper-clip"></span></a>
                </p>
            </figcaption>
        </figure>
    </div>

    <div class="grid_item">
        <figure class="effect-zoe">
            <img src="img/7.jpg" alt="img7">
            <figcaption>
                <h2>Creative <span>Zoe</span></h2>
                <p class="icon-links">
                    <a href="#"><span class="icon-heart"></span></a>
                    <a href="#"><span class="icon-eye"></span></a>
                    <a href="#"><span class="icon-paper-clip"></span></a>
                </p>
            </figcaption>
        </figure>
    </div>



    <div class="grid_item">
        <figure class="effect-zoe">
            <img src="img/18.jpg" alt="img18">
            <figcaption>
                <h2>Creative <span>Zoe</span></h2>
                <p class="icon-links">
                    <a href="#"><span class="icon-heart"></span></a>
                    <a href="#"><span class="icon-eye"></span></a>
                    <a href="#"><span class="icon-paper-clip"></span></a>
                </p>
            </figcaption>
        </figure>
    </div>

    <div class="grid_item">
        <figure class="effect-zoe">
            <img src="img/7.jpg" alt="img7">
            <figcaption>
                <h2>Creative <span>Zoe</span></h2>
                <p class="icon-links">
                    <a href="#"><span class="icon-heart"></span></a>
                    <a href="#"><span class="icon-eye"></span></a>
                    <a href="#"><span class="icon-paper-clip"></span></a>
                </p>
            </figcaption>
        </figure>
    </div>



    <div class="grid_item">
        <figure class="effect-zoe">
            <img src="img/18.jpg" alt="img18">
            <figcaption>
                <h2>Creative <span>Zoe</span></h2>
                <p class="icon-links">
                    <a href="#"><span class="icon-heart"></span></a>
                    <a href="#"><span class="icon-eye"></span></a>
                    <a href="#"><span class="icon-paper-clip"></span></a>
                </p>
            </figcaption>
        </figure>
    </div>
</div>


<footer>
    Created in 2018 with Typescript, jQuery, MDBootstrap, Twig & lots of <3
</footer>

<script src="vendor/jquery/dist/jquery.min.js"></script>
<script src="vendor/MDBootstrap/js/popper.min.js"></script>
<script src="vendor/MDBootstrap/js/bootstrap.min.js"></script>
<script src="vendor/MDBootstrap/js/mdb.min.js"></script>
<script src="javascript/master.js"></script>

</body>
</html>